.edit-customer-container
{
    background-color:#d0ffd0;   
    border:1px solid #a9f6a9;
    border-radius:7px;
}
.edit-customer-container:hover
{
    background-color:#a9f6a9;   
    border:1px solid #7df17d;
}
.edit-product-container
{
    background-color:#cfe6ff;   
    border:1px solid #a4ccf7;
    border-radius:7px;
}
.edit-product-container:hover
{
    background-color:#a4ccf7;   
    border:1px solid #7ab6f6;
}
.payment-form-panel
{
    background-color:#dfd6e2;   
    border:1px solid #e392fd;
    border-radius:7px;
}
.payment-form-panel:hover
{
    background-color:#dac6e1;   
    border:1px solid #d568f9;
}
#paymenttype > div > div
{
    float:left;
    min-width:110px;
}


/*************DETAIL PANEL*********************************************************************************/
.detail-invoice-billing.header, .detail-invoice-subheader.header
{
    border:1px solid #a9f6a9;
    padding:7px;
    background-color:#d0ffd0;
    min-height:55px;
    border-radius:7px;
}
.detail-invoice-billing{width:300px;float:left;position:relative;}
.detail-invoice-billing #edit-customer
{
    position:absolute;
    top:3px;
    right:5px;
    width:30px;
    display:none;
}
.detail-invoice-billing .title{font-size:14px;font-weight:bold;}
.detail-invoice-billing .description{padding-left:10px;font-size:11px;text-transform:capitalize;}
.detail-invoice-subheader{width:350px;float:right;margin-right:10px;}
.detail-invoice-subheader > div{margin: 5px 0px;}
.detail-invoice-subheader div:first-child{margin: 0px;}
.detail-invoice-subheader div > div{float:left;}
.detail-invoice-subheader div > div:first-child{min-width:164px;}

.detail-invoice-product
{
    border:1px solid #a4ccf7;
    padding:7px;
    background-color:#cfe6ff;
    min-height:110px;
    margin-top:10px;
    border-radius:7px;
}
.detail-invoice-product{width:300px;float:left;position:relative;}
.detail-invoice-product > div{margin: 5px 0px;}
.detail-invoice-product div:first-child{margin: 0px;}
.detail-invoice-product div > div{float:left;}
.detail-invoice-product div > div:first-child{min-width:110px;}
.detail-invoice-product{clear:both;}
.detail-invoice-product #edit-product
{
    position:absolute;
    top:0;
    right:5px;
    width:30px;
    display:none;
}


.detail-invoice-payment
{
    border:1px solid #e392fd;
    padding:7px;
    background-color:#dfd6e2;
    min-height:110px;
    margin-top:10px;
    border-radius:7px;
}
.detail-invoice-payment{width:350px;float:right;margin-right:10px;}
.detail-invoice-payment > div{margin: 5px 0px;}
.detail-invoice-payment div:first-child{margin: 0px;}
.detail-invoice-payment div > div{float:left;}
.detail-invoice-payment div > div:first-child{min-width:130px;}


.change-payment-type
{
    width:475px;
}
.payment-type-body
{
    min-height:300px;
}