.edit-customer-container,.edit-product-container,.payment-form-panel
{
    background-color:#e9e9e9;   
    border:1px solid #adadb0;
    border-radius:7px;
}
.edit-customer-container:hover,.edit-product-container:hover,.payment-form-panel:hover
{
    border:1px solid #1f38e0;
}
#paymenttype > div > div
{
    float:left;
    min-width:110px;
}


/*************DETAIL PANEL*********************************************************************************/
.detail-invoice-billing.header:hover, .detail-invoice-subheader.header:hover, .detail-invoice-product:hover, .detail-invoice-payment:hover
{
    border:1px solid #1f38e0;
}
.detail-invoice-billing.header, .detail-invoice-subheader.header
{
    border:1px solid #adadb0;
    padding:7px;
    background-color:#e9e9e9;
    min-height:55px;
    border-radius:7px;
}
.detail-invoice-billing{width:300px;float:left;position:relative;}
.detail-invoice-billing #edit-customer
{
    position:absolute;
    top:3px;
    right:5px;
    width:30px;
    display:none;
}
.detail-invoice-billing .title{font-size:14px;font-weight:bold;}
.detail-invoice-billing .description{padding-left:10px;font-size:11px;text-transform:capitalize;}
.detail-invoice-subheader{width:350px;float:right;margin-right:10px;}
.detail-invoice-subheader > div{margin: 5px 0px;}
.detail-invoice-subheader div:first-child{margin: 0px;}
.detail-invoice-subheader div > div{float:left;}
.detail-invoice-subheader div > div:first-child{min-width:164px;}

.detail-invoice-product
{
    border:1px solid #adadb0;
    padding:7px;
    background-color:#e9e9e9;
    min-height:110px;
    margin-top:10px;
    border-radius:7px;
}
.detail-invoice-product{width:300px;float:left;position:relative;}
.detail-invoice-product > div{margin: 5px 0px;}
.detail-invoice-product div:first-child{margin: 0px;}
.detail-invoice-product div > div{float:left;}
.detail-invoice-product div > div:first-child{min-width:110px;}
.detail-invoice-product{clear:both;}
.detail-invoice-product #edit-product
{
    position:absolute;
    top:0;
    right:5px;
    width:30px;
    display:none;
}


.detail-invoice-payment
{
    border:1px solid #adadb0;
    padding:7px;
    background-color:#e9e9e9;
    min-height:110px;
    margin-top:10px;
    border-radius:7px;
}
.detail-invoice-payment{width:350px;float:right;margin-right:10px;}
.detail-invoice-payment > div{margin: 5px 0px;}
.detail-invoice-payment div:first-child{margin: 0px;}
.detail-invoice-payment div > div{float:left;}
.detail-invoice-payment div > div:first-child{min-width:130px;}


.change-payment-type
{
    width:475px;
}
.payment-type-body
{
    min-height:300px;
}

.detail-item-invoice table tbody tr.pelunasan td
{
    background-color:#51A351;
    color:#000;
}
.detail-item-invoice table tbody tr td i
{
    cursor:pointer;
}

/***********************************Detail Pelunasan****************************************************/
.pelunasan-detail > div > div.first
{
    min-width:200px;
    float:left;
}
.pelunasan-detail > div > div.second
{
    min-width:20px;
    float:left;
}
.pelunasan-detail > div > div.third
{
    min-width:200px;
    float:left;
    text-align:right;
}
.pelunasan-detail div:nth-child(2n) div
{
    background-color:#ccc;
}
.pelunasan-detail div div
{
    padding:4px;
}
.pelunasan-detail span.currency
{
    font-weight:normal;
}
.pelunasan-detail > div:last-child span.currency
{
    font-weight:bold;
}
.pelunasan-detail > div.detail-denda
{
}
.pelunasan-detail > div.detail-denda > div > div.detail-first
{
    float:left;
    min-width:180px;
    padding-left:20px;
    background-color:#E9E9E9;
}
.pelunasan-detail > div.detail-denda > div> div.detail-second
{
    float:left;
    min-width:20px;
    background-color:#E9E9E9;
}
.pelunasan-detail > div.detail-denda > div> div.detail-third
{
    float:left;
    min-width:200px;
    text-align:right;
    background-color:#E9E9E9;
}