<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="MsmqSubscriptionStorageConfig" type="NServiceBus.Config.MsmqSubscriptionStorageConfig, NServiceBus.Core" />
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <MsmqTransportConfig ErrorQueue="erroraslimotorweb" NumberOfWorkerThreads="1" MaxRetries="5" />
  <UnicastBusConfig>
    <MessageEndpointMappings></MessageEndpointMappings>
  </UnicastBusConfig>
  <MsmqSubscriptionStorageConfig Queue="aslimotorwebsubscription" />
  <system.data>
    <DbProviderFactories>
      <add name="Npgsql2 Data Provider" invariant="Npgsql2" description=".Net Framework Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Version=2.0.4.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
      <!--<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />-->
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="Postgres" providerName="Npgsql2" connectionString="Server=localhost;Database=aslimotorbackup;UID=aslimotor;pwd=a1b2c3." />
  </connectionStrings>
  <appSettings>
    <add key="EOPdfLicense" value="aP0BELxbvNO/++OfmaQHEPGs4PP/6KFspbSzy653hI6xy59Zs7PyF+uo7sKetZ9Zl6TNGvGd3PbaGeWol+jyH+R2mbbA3a5rp7XDzZ+v3PYEFO6ntKbEzZ9otZGby59Zl8AEFOan2PgGHeR3q9bF266OzffU8MOSwdXjFvlww7vSIrx2s7MEFOan2PgGHeR3hI7N2uui2un/HuR3hI514+30EO2s3MKetZ9Zl6TNF+ic3PIEEMidtbjC4K9qq73K47J1pvD6DuSn6unaD71GgaSxy5914+30EO2s3OnP566l4Of2GfKe3MKetZ9Zl6TNDOul5vvPuIlZl6Sxy59Zl8DyD+NZ6w==" />
    <add key="biayaadministrasi" value="200000" />
    <add key="denda" value="0,005" />
    <add key="discount" value="0,01" />
  </appSettings>
  <system.web>
    <customErrors mode="On" defaultRedirect="~/ErrorPages/Oops.html">
    </customErrors>
    <globalization uiCulture="id-ID" culture="id-ID" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <membership defaultProvider="AsliMotorMembershipProvider">
      <providers>
        <clear />
        <add name="AsliMotorMembershipProvider" type="AsliMotor.Security.Provider.AsliMotorMembershipProvider, AsliMotor.Security" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="10" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="AsliMotor" passwordFormat="Hashed" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="AsliMotorRoleProvider">
      <providers>
        <clear />
        <add name="AsliMotorRoleProvider" type="AsliMotor.Security.Provider.AsliMotorRoleProvider, AsliMotor.Security" applicationName="AsliMotor" />
      </providers>
    </roleManager>
    <profile>
      <providers>
        <clear />
      </providers>
    </profile>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.5.0" newVersion="2.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spring.Core" publicKeyToken="65e474d141e25e07" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.2.40943" newVersion="1.3.2.40943" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spring.Aop" publicKeyToken="65e474d141e25e07" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.2.40943" newVersion="1.3.2.40943" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spring.Data" publicKeyToken="65e474d141e25e07" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.2.40943" newVersion="1.3.2.40943" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <spring>
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
    </parsers>
    <context>
      <resource uri="config://spring/objects" />
    </context>
    <objects xmlns="http://www.springframework.net" xmlns:db="http://www.springframework.net/database">
      <db:provider id="DbProvider" provider="Npgsql-2.0" connectionString="Server=localhost;Database=aslimotorbackup;uid=aslimotor;pwd=a1b2c3.;" />
      <object id="AdoTemplate" type="Spring.Data.Generic.AdoTemplate, Spring.Data" singleton="false" autowire="autodetect" />
      <object id="PlainAdoTemplate" type="Spring.Data.Core.AdoTemplate, Spring.Data" singleton="false" autowire="autodetect" />
      <object id="QueryObjectMapper" type="BonaStoco.Inf.DataMapper.Impl.QueryObjectMapper, BonaStoco.Inf.DataMapper.Impl" singleton="false" autowire="autodetect" />
      <object id="QueryExecutor" type="BonaStoco.Inf.DataMapper.Impl.AdoQueryExecutor, BonaStoco.Inf.DataMapper.Impl" singleton="false" autowire="autodetect" />
      <object id="ReportingRepository" type="BonaStoco.Inf.Reporting.PostgresReportingRepository, BonaStoco.Inf.Reporting" singleton="false" autowire="autodetect" />
      <object id="SqlInsertBuilder" type="BonaStoco.Inf.Reporting.SqlInsertBuilder, BonaStoco.Inf.Reporting" singleton="false" />
      <object id="SqlCreateBuilder" type="BonaStoco.Inf.Reporting.SqlCreateBuilder, BonaStoco.Inf.Reporting" singleton="false" />
      <object id="SqlSelectBuilder" type="BonaStoco.Inf.Reporting.SqlSelectBuilder, BonaStoco.Inf.Reporting" singleton="false" />
      <object id="SqlUpdateBuilder" type="BonaStoco.Inf.Reporting.SqlUpdateBuilder, BonaStoco.Inf.Reporting" singleton="false" />
      <object id="SqlDeleteBuilder" type="BonaStoco.Inf.Reporting.SqlDeleteBuilder, BonaStoco.Inf.Reporting" singleton="false" />
      <object id="ProductRepository" type="AsliMotor.Products.ProductRepository, AsliMotor.Products" singleton="false" autowire="autodetect" />
      <object id="ProductService" type="AsliMotor.Products.ProductService, AsliMotor.Products" singleton="false" autowire="autodetect" />
      <object id="SupplierInvoiceService" type="AsliMotor.SI.Services.SupplierInvoiceService, AsliMotor.SI.Services" singleton="false" autowire="autodetect" />
      <object id="SupplierInvoiceRepository" type="AsliMotor.SI.Repository.SupplierInvoiceRepository, AsliMotor.SI.Repository" singleton="false" autowire="autodetect" />
      <object id="InvoiceReportRepository" type="AsliMotor.Invoices.ReportRepository.InvoiceReportRepository, AsliMotor.Invoices.ReportRepository" singleton="false" autowire="autodetect" />
      <object id="CustomerRepository" type="AsliMotor.Customers.CustomerRepository, AsliMotor.Customers" singleton="false" autowire="autodetect" />
      <object id="CustomerService" type="AsliMotor.Customers.CustomerService, AsliMotor.Customers" singleton="false" autowire="autodetect" />
      <object id="InvoiceService" type="AsliMotor.Invoices.Services.InvoiceService, AsliMotor.Invoices.Services" singleton="false" autowire="autodetect" />
      <object id="InvoiceRepository" type="AsliMotor.Invoices.Repository.InvoiceRepository, AsliMotor.Invoices.Repository" singleton="false" autowire="autodetect" />
      <object id="InvoiceAutoNumberGenerator" type="AsliMotor.Invoices.AutoNumberGenerator.InvoiceAutoNumberGenerator, AsliMotor.Invoices.AutoNumberGenerator" singleton="false" autowire="autodetect" />
      <object id="ReceiveAutoNumberGenerator" type="AsliMotor.Receives.AutoNumberGenerator.ReceiveAutoNumberGenerator, AsliMotor.Receives.AutoNumberGenerator" singleton="false" autowire="autodetect" />
      <object id="ReceiveService" type="AsliMotor.Receives.Services.ReceiveService, AsliMotor.Receives.Services" singleton="false" autowire="autodetect" />
      <object id="ReceiveRepository" type="AsliMotor.Receives.Repository.ReceiveRepository, AsliMotor.Receives.Repository" singleton="false" autowire="autodetect" />
      <object id="PerjanjianService" type="AsliMotor.Perjanjian.Services.PerjanjianService, AsliMotor.Perjanjian.Services" singleton="false" autowire="autodetect" />
      <object id="PerjanjianAutoNumberGenerator" type="AsliMotor.Perjanjian.AutoNumberGenerator.PerjanjianAutoNumberGenerator, AsliMotor.Perjanjian.AutoNumberGenerator" singleton="false" autowire="autodetect" />
      <object id="PrintDocument" type="AsliMotor.PrintDocuments.PrintDocument, AsliMotor.PrintDocuments" singleton="false" autowire="autodetect" />
      <object id="SalesReportRepository" type="AsliMotor.SalesReports.ReportRepository.SalesReportRepository, AsliMotor.SalesReports.ReportRepository" singleton="false" autowire="autodetect" />
      <object id="PurchaseReportRepository" type="AsliMotor.PurchaseReports.ReportRepository.PurchaseReportRepository, AsliMotor.PurchaseReports.ReportRepository" singleton="false" autowire="autodetect" />
      <object id="DashboardRepository" type="AsliMotor.SalesReports.ReportRepository.DashboardRepository, AsliMotor.SalesReports.ReportRepository" singleton="false" autowire="autodetect" />
      <object id="PriceChangedRepository" type="AsliMotor.AuditLog.Repository.PriceChangedRepository, AsliMotor.AuditLog.Repository" singleton="false" autowire="autodetect" />
      <object id="PaymentTermRepository" type="AsliMotor.PaymentTerms.PaymentTermRepository, AsliMotor.PaymentTerms" singleton="false" autowire="autodetect" />
      <object id="StatementRepository" type="AsliMotor.Reporting.StatementRepository, AsliMotor.Reporting" singleton="false" autowire="autodetect" />
      
    </objects>
  </spring>
</configuration>